---
layout: page
title: Qwer_zcc's blog
tagline: Supporting tagline
---
{% include JB/setup %}

<ul class="posts">
	{% for post in site.posts %}
		<div class="article">
			<h3 class="title"><a href="{{ BASE_PATH }}{{ post.url }}" title="{{ post.title }}">{{post.title}}</a></h3>
			<article class="rexp">
				<p>{{ post.excerpt }} </p>
			</article>
			<a href="{{ BASE_PATH }}{{ post.url }}" class="more"><i class=icon-link"></i></a>
			<div class="info">
				<span>
					{{ post.date | data_to_string }}
				</span>
			</div>
		</div>
	{% endfor %}
</ul>

